.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.hr {
  border-color: var(--clr-slate800);
}
.about__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}

.about__ul-container {
  display: flex;
}
.about__tech-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  height: 1.8em;
  width: 1.8em;
}
.about__ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
  flex: 1;
  font-size: var(--size-sm);
}
.about__li {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}
.about__img {
  height: 30rem;
  width: 30rem;
  border-radius: 0.5em;
}
.work__tech-list li {
  position: relative;
  padding-left: 0.938rem;
  margin-bottom: 0.5rem;
}
/* xxs */
/* @media (min-width: 325px) {
} */

/* xs */
@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }

  .about__content {
    gap: 1.5rem;
  }

  .about__title {
    font-size: var(--size-3xl);
  }

  .about__description {
    font-size: var(--size-base);
  }

  .about__subtitle {
    font-size: var(--size-base);
  }

  .about__tech-img {
    height: 2em;
    width: 2em;
  }

  .about__li {
    font-size: var(--size-base);
  }
  .about__ul {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .about__img-wrapper {
    margin: 0 auto;
  }
  .about__img {
    width: 35rem;
    height: 35rem;
  }
}

/* md */
@media (min-width: 768px) {
  .about__img {
    width: 35rem;
    height: 35rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .about__img {
    width: 35rem;
    height: 35rem;
  }
  .about__title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
  }

  .about__subtitle {
    font-size: var(--size-lg);
  }

  .about__tech-img {
    height: 2.5em;
    width: 2.5em;
  }

  .about__li {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__img {
    width: 38rem;
    height: 38rem;
  }
  .about__content {
    gap: 2rem;
  }
  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }

  .about__subtitle {
    font-size: var(--size-xl);
  }

  .about__tech-img {
    height: 3em;
    width: 3em;
  }

  .about__li {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
